.breadcrumbs {
  padding-top: 15px;
  padding-bottom: 12px;
  background: #F8F8F8;

  @include mq('tab') {
    padding-left: $padding-tab;
    padding-right: $padding-tab;
  }

  @include mq('sp') {
    padding-left: $padding-sp;
    padding-right: $padding-sp;
  }

  span {
    font-size: 1.2rem;
  }

  .separation {
    margin: 0 8px;
  }

  a {
    text-decoration: underline;
    transition: opacity .3s ease 0s;
    white-space: nowrap;
    display: inline;

      &:hover {
        opacity: 0.4;
      }
  }

}